<div class="main_title">
  <h1>Welcome to <span>Event</span>Stack</h1>
  <p>You finally found the easiest way of finding events at Trinity College.</p>
</div>

<div class="search-area">
  <form action="" id="search-form" class="custom show-search-options position-left">
    <div class="input-wrapper">
      <input type="text" class="location" autocomplete="off" id="name" name="name" placeholder="Search events...">
    </div>
    <div class="input-wrapper" id="date-wraper">
      <input type="text" class="date search-option ui-datapicker-target" id="datepicker" name="date" placeholder="Date">
      <span class="date-icon"></span>
    </div>

    <button type="submit" class="btn" id="submit-event">
      <i class="icon-search"></i>
        Search
    </button>
  </form>
</div>
