<div class="main_title">
  <h1>Welcome to <span>Event</span>Stack</h1>
  <p>You finally found the easiest way of finding events at Trinity College.</p>
</div>

<div class="search-area">
  <%= form_tag({:controller => :events, :action => :search}, :method => :get, :id => "search-form", 
                :class => "custom show-search-options position-left") do %>
    <div class="input-wrapper transparent">
      <%= text_field_tag(:search_text, nil, { :placeholder => "Search events...", :class => "location", :id => "name" }) %>
    </div>
    <div class="input-wrapper" id="date-wraper">
      <%= text_field_tag(:date, nil, { :placeholder => "Date", :class => "date search-option ui-datapicker-target", :id => "datepicker" }) %>
      <span class="date-icon"></span>
    </div>

    <button type="submit" class="btn btn-search" id="submit-event">
      <i class="icon-search"></i>
        Search
    </button>
  <% end %>
</div>
