<% if notice %>
    <p id="error_notice"><%= notice %></p>
<% end %>

<% if current_user %>
  <%= link_to 'New Event', new_event_path, class: 'new_button' %>
<% end %>


<h1 id="page_title"><%= @page_title %></h1>

<%= render 'show_events', events: @events %>
<br />