<% if notice %>
    <p id="error_notice"><%= notice %></p>
<% end %>

<%= link_to 'New Event', new_event_path, class: 'new_button' %>


<h1 id="page_title"><%= @page_title %></h1>

<%= render 'show_events', events: @events, moderate: false %>
<br />