<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h2 id="page_title"><%= @event.name %></h2>
<h3 id="event_creator_title"><span id="by_element">by</span> <%= @event.creator.username %></h3>

<%= render 'show_event', event: @event, details: true %>
