<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <b>Name:</b>
  <%= @major.name %>
</p>

<%= link_to content_tag(:i, " Edit Major", class: "icon-pencil"), edit_major_path(@major), class: 'btn btn-search remove_fields' %>
<%= link_to 'Back', majors_path, class: 'btn btn-inverse remove_fields' %>