/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  background: url(trincoll_day_splash.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  border: 0;
}

#nav {
  height: 38px;
  width: 100%;
  background-color: #333333;
  border-bottom: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
  margin: 0 auto;
  min-width: 900px;

  #title {
/*
    span { 
      color: #1161bc;
    }
*/
    a {
      font-family: Century Gothic, sans-serif;
      font-size: 30px;
      text-decoration: none;
      float: left;
      padding: 10px;
      background-color: #333333;
      color: #ffff00;
      border-bottom: 1px;
      border-bottom-color: #000000;
      border-bottom-style: solid;
      -webkit-transition: color .2s linear;
      -moz-transition: color .2s linear;
    }

    a:hover {
      /*
      background-color: #9b1c26;
      padding-bottom: 12px;
      border-bottom: 2px;
      border-bottom-color: #000000;
      border-bottom-style: solid;
      margin: -1px;
      
      color: #9b1c26;
      */
      span {
        color: #386af2;
        -webkit-transition: color .2s linear;
        -moz-transition: color .2s linear;
      } 
    }
  }

  #hello_message {
    font-family: Century Gothic, sans-serif;
    font-size: 15px;
    text-decoration: none;
    float: right;
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
    border-bottom: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
  }

  #buttons {
    padding: 0px;

    .separator {
      float: left;
      height: 38px;
      margin: 0 5px;
      overflow: hidden;
      border-right: 1px solid #9b1c26;
      background-color: #ffff00;
      border-bottom: 1px;
      border-bottom-color: #000000;
      border-bottom-style: solid;
    }

    li {
      display: inline;
    }

    li a {
      font-family: Century Gothic, sans-serif;
      font-size: 15px;
      text-decoration: none;
      padding: 10px;
      float: left;
      background-color: #333333;
      color: #ffff00;
      border-bottom: 1px;
      border-bottom-color: #000000;
      border-bottom-style: solid;
      -webkit-transition: color .2s linear;
      -moz-transition: color .2s linear;
    }

    li a:hover {
      /*
      background-color: #9b1c26;
      padding-bottom: 12px;
      border-bottom: 2px;
      border-bottom-color: #000000;
      border-bottom-style: solid;
      margin: -1px;
      */
      color: #9b1c26;
    }
  }

  #login {
    padding: 0px;

    .separator {
      float: right;
      height: 38px;
      margin: 0 5px;
      overflow: hidden;
      border-right: 1px solid #9b1c26;
      background-color: #ffff00;
      border-bottom: 1px;
      border-bottom-color: #000000;
      border-bottom-style: solid;
    }

    li {
      display: inline;
    }
/*
    #login {
      float: right;
    }

    #buttons {
      float: left;
    }
*/
    li a {
      font-family: Century Gothic, sans-serif;
      font-size: 15px;
      text-decoration: none;
      padding: 10px;
      float: right;
      background-color: #333333;
      color: #ffff00;
      border-bottom: 1px;
      border-bottom-color: #000000;
      border-bottom-style: solid;
      -webkit-transition: color .2s linear;
      -moz-transition: color .2s linear;
    }

    li a:hover {
      /*
      background-color: #9b1c26;
      padding-bottom: 12px;
      border-bottom: 2px;
      border-bottom-color: #000000;
      border-bottom-style: solid;
      margin: -1px;
      */
      color: #9b1c26;
    }
  }
}

.logins { 
  position: fixed;
  top:  50%;
  left: 50%;
  margin-top: -250px;
  margin-left:  20px;
  min-width: 500px;

  h2 {
    font-size: 40px;
    font-family: Century Gothic, sans-serif;
  }

  div { 
    color: #333333;
    font-style: italic;
    font-size: 15px;
    font-family: Century Gothic, sans-serif;
  }

  input {
      border: 2px solid white; 
      -webkit-box-shadow: 
        inset 0 0 8px  rgba(0,0,0,0.1),
              0 0 16px rgba(0,0,0,0.1); 
      -moz-box-shadow: 
        inset 0 0 8px  rgba(0,0,0,0.1),
              0 0 16px rgba(0,0,0,0.1); 
      box-shadow: 
        inset 0 0 8px  rgba(0,0,0,0.1),
              0 0 16px rgba(0,0,0,0.1); 
      padding: 7px;
      background: rgba(255,255,255,0.5);
      margin: 0 0 10px 0;
  }

}