// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events {
  background: fixed;
  //background-color: rgba(255, 255, 255, 0.7);
  color: rgb(51, 51, 51);
  min-width: 900px;

  // border-radius: 10px;

  .admin_button {
    position: relative;
    float: right;
    top: -7em;
    left: -10px;
    margin-right: 5px;

    border-radius: 10px;
    font-size: 10px;
    text-decoration: none;
    padding: 5px;
    background-color: #333333;
    color: #ffffff;
    border-bottom: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
  }

  .admin_button:hover {
    color: #9b1c26;
  }

  a.new_button {
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    float: left;
    background-color: #333333;
    color: #ffffff;
    border-radius: 0 0 15px 15px;
    border-bottom: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
  }

  a.new_button:hover {
    color: #9b1c26;
  }

  a.event_link {
    text-decoration: none;
  }

  
  div.event_entry {
    .event_detail { 
      color: #ffffff;
    }

    .event_name {
      padding: 5px 0 0 0;
      text-align: center;
      font-size: 20px;
      color: #ffff00;
      a {
        text-decoration: none;
      }
    }

    margin: 0 100px 20px 100px;
    background-color: rgba(51, 51, 51, 0.7);

    border-radius: 15px;
    -moz-border-radius: 15px;
    box-shadow: 5px 5px 2px rgba(136, 136, 136, 0.7);
    -moz-box-shadow: 5px 5px 2px rgba(136, 136, 136, 0.7);
    -webkit-transition: background-color .3s linear;
    //-webkit-transition: -webkit-transform 2s;
    -moz-transition: background-color .3s linear;
    //-webkit-transition: box-shadow .3s linear;
  }

  div:hover.hoverable.event_entry {
    //-webkit-transform:rotate(360deg);
    background-color: rgba(155, 28, 38, 0.7);
    //box-shadow: 10px 10px 5px rgba(63, 75, 246, 0.7);
  }
}