// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_title { 
  background: fixed;
  position: fixed;
  top:  50%;
  left: 50%;
  margin-top: -250px;
  margin-left:  40px;
  min-width: 500px;

  h1 {
    color: #ffff00;
    opacity: 0.5;
    font-size: 40px;
    -webkit-transition: opacity .2s linear;
  }

  h1:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  p {
    color: #333333;
    font-style: italic;
    font-size: 20px;
  }

}