
html {
  background: url(trincoll_day_splash.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

body {
  border: 0;
  font-family: Century Gothic, sans-serif;
}

#page_title {
  opacity: 0.5;
  padding-left: 250px;
  font-size: 50px;
  color: #ffff00;
  text-align: left;
  min-width: 900px;
}

#nav {
  height: 38px;
  width: 100%;
  background-color: #333333;
  border-bottom: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
  margin: 0 auto;
  min-width: 900px;

  #title {
    a {
    //  opacity: 0.5;
      font-size: 30px;
      text-decoration: none;
      float: left;
      padding: 10px;
      background-color: #333333;
      color: #ffff00;
      border-bottom: 1px;
      border-bottom-color: #000000;
      border-bottom-style: solid;
    //  -webkit-transition: opacity .3s linear;
    //  -moz-transition: opacity .3s linear;
    }

    a:hover {
    //  opacity: 0.9;
      span {
        color: #386af2;
        -webkit-transition: color .2s linear;
        -moz-transition: color .2s linear;
      } 
    }
  }

  #hello_message {
    font-size: 15px;
    text-decoration: none;
    float: right;
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
    border-bottom: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
  }

  #buttons {
    padding: 0px;

    .separator {
      opacity: 0.5;
      float: left;
      height: 38px;
      margin: 0 5px;
      overflow: hidden;
      border-right: 1px solid #9b1c26;
      background-color: #ffff00;
      border-bottom: 1px;
      border-bottom-color: #000000;
      border-bottom-style: solid;
    }

    li {
      display: inline;
    }

    li a {
    //  opacity: 0.8;
      font-size: 15px;
      text-decoration: none;
      padding: 10px;
      float: left;
      background-color: #333333;
      color: #ffff00;
      border-bottom: 1px;
      border-bottom-color: #000000;
      border-bottom-style: solid;
      -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
    }

    li a:hover {
    //  opacity: 1;
      color: #9b1c26;
    }
  }

  #login {
    padding: 0px;

    .separator {
      opacity: 0.5;
      float: right;
      height: 38px;
      margin: 0 5px;
      overflow: hidden;
      border-right: 1px solid #9b1c26;
      background-color: #ffff00;
      border-bottom: 1px;
      border-bottom-color: #000000;
      border-bottom-style: solid;
    }

    li {
      display: inline;
    }

    li a {
    //  opacity: 0.8;
      font-size: 15px;
      text-decoration: none;
      padding: 10px;
      float: right;
      background-color: #333333;
      color: #ffff00;
      border-bottom: 1px;
      border-bottom-color: #000000;
      border-bottom-style: solid;
      -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
    }

    li a:hover {
    //  opacity: 1;
      color: #9b1c26;
    }
  }
}